.carte__main {
  max-width: 700px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px 0px;
  background-color: white;
}
.carte__img {
  display: block;
  border-radius: 20px;
  width: 280px;
  height: 220px;
  object-fit: cover;
}
/*description*/
.carte_detaille {
  padding: 0px 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.localisation {
  font-weight: normal;
  font-size: 10px;
  color: #6e798c;
}
/*house_name*/
.house_name {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #081f32;
}

/*description_house*/
.house_descriptin {
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #6e798c;
  max-width: 300px;
}
/*Rating*/
.rating_price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating {
  font-size: 20px !important;
}
/*house_price*/
.house_price {
  font-size: 13px;
}
.house_price > span {
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #2182e9;
}

/*icons*/
.house_icons {
  display: flex;
  align-items: center;
  width: 100%;
}
.icons {
  display: flex;
  align-items: center;
  font-weight: bold;

  line-height: 25px;
  color: #6e798c;
  margin-right: 20px;
}
.icon_img {
  margin-right: 5px;
  font-size: 20px;
}
.icon_detaile {
  font-size: 12px;
}
