.postPreview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
  padding-right: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.postPreview__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.postPreview__details--title {
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 20px;
}

.postPreview__details--localization {
  font-size: smaller;
  color: #6e798c;
  font-weight: 400;
  margin-bottom: 20px;
}

.postPreview__details--rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.postPreview__details__price {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  color: #2182e9;
  width: 100%;
}

.postPreview__details__price--periode {
  color: #6e798c;
  font-size: smaller;
}

.postPreview_details {
  display: flex;
}
