@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.imageSlider {
  min-width: 300px;
  width: 500px;
  padding: 10px;
}

.imageSlider__slide {
  transform: scale(0.7);
  transition: transform 0.3s;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.2);
  opacity: 1;
  z-index: 100;
  padding: 35px 0px;
}

.imageSlider__slide--image {
  height: 250px;
  width: auto;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 20px;
}

.arrow {
  position: absolute;
  bottom: -27px;
  cursor: pointer;
  z-index: 100;
}

.arrow {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 130, 233, 0.2);
}

.arrow svg {
  transition: all ease-in-out 0.3s;
}

.arrow svg:hover {
  color: #2182e9;
}

.arrow svg:active {
  transform: scale(1.1);
  color: #2182e9;
}

.previous {
  left: 20px;
}

.next {
  right: 20px;
}
